@inherits LayoutComponentBase

<PageTitle>Calculator.Microservices.Client.Web.Blazor.Health</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/health-checks?view=aspnetcore-5.0#health-check-publisher-1" target="_blank">About health check</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
